<div class="container-fluid col-10">

    <div class="d-flex justify-content-center my-5">

        <h1>Bonjour confirmer votre email!</h1>

    </div>
    <p>
        Pour confirmer votre email click sur ce lien: <br><br>
        <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
        Le lien epire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
    </p>

    <p>
        Cheers!
    </p>

</div>